{% extends 'stories/_Master.html' %}
{% block title %}{{story}}{% endblock title %}
{% block content %}

<div class="single">
    <div id="fh5co-title-box" style="background-image: url({{story.image.url}}); background-position: 50% 90.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="page-title">
            <img src="{{story.image.url}}" alt="{{story}}">
            <span>{{story.public_day}}</span>
            <h2>{{story}}</h2>
        </div>
    </div>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    {{story.content|safe}}
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    {% comment %} <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="fh5co_tags_all">
                        <a href="#" class="fh5co_tagg">Business</a>
                        <a href="#" class="fh5co_tagg">Technology</a>
                        <a href="#" class="fh5co_tagg">Sport</a>
                        <a href="#" class="fh5co_tagg">Art</a>
                        <a href="#" class="fh5co_tagg">Lifestyle</a>
                        <a href="#" class="fh5co_tagg">Three</a>
                        <a href="#" class="fh5co_tagg">Photography</a>
                        <a href="#" class="fh5co_tagg">Lifestyle</a>
                        <a href="#" class="fh5co_tagg">Art</a>
                        <a href="#" class="fh5co_tagg">Education</a>
                        <a href="#" class="fh5co_tagg">Social</a>
                        <a href="#" class="fh5co_tagg">Three</a>
                    </div> {% endcomment %}
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                    </div>
                    {% for story in most_viewed %}
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <a href="{% url 'stories:story' story.pk %}">
                                <img src="{{story.image.url}}" alt="{{story}}" class="fh5co_most_trading" />
                            </a>
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"> {{story}}</div>
                            <div class="most_fh5co_treding_font_123"> {{story.public_day}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Most Viewed Stories</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">
                {% for story in most_viewed %}
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img">
                            <a href="{% url 'stories:story' story.pk %}">
                                <img src="{{story.image.url}}" alt="{{story}}" />
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'stories:story' story.pk %}" class="d-block fh5co_small_post_heading"><span
                                    class=""> {{story}}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{story.author}} - {{story.public_day}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock content %}